.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.slick-dots li button:before {
	color: white;
}
.slick-dots li.slick-active button:before {
	color: white;
}

.slick-dots.slick-thumb li {
	width: 24px;
	height: 7px;
	margin: 0 3px;
	border-radius: 999px;
	transition: all 0.5s ease-in-out;
	will-change: width;
	background-color: #c4c4c4;
}

.slick-dots.slick-thumb li.slick-active {
	background-color: #ffffff;
	width: 24px;
}
.slick-dots {
	bottom: 40px;
}
.slick-dots li button:before {
	font-size: 4px;

	width: 30px;
	height: 29px;
	content: '•';
	margin-top: -7px;
}
